useDynLib(cellnetR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
export(as_cellnet)
S3method(as_cellnet,data.frame)
S3method(as_cellnet,igraph)
S3method(as_cellnet,dgCMatrix)
S3method(as_cellnet,graphNEL)
export(as_igraph)
export(as_sparse_matrix)
export(cellnet_compile)
export(cellnet_context)
export(cellnet_from_carnival)
export(cellnet_from_cellnoptr)
export(cellnet_from_dorothea)
export(cellnet_from_graphite)
export(cellnet_from_omnipath)
export(cellnet_from_omnipath_ptm)
export(causal_cone)
export(affected_nodes)
export(perturb)
export(perturb_reaction)
export(perturb_batch)
export(run_protocol)
export(set_activity_context)
export(set_context)
export(set_initial_state)
export(as.data.frame.CellNetNetwork)
export(print.CellNetResult)
export(summary.CellNetResult)
export(as.data.frame.CellNetResult)
export(plot.CellNetResult)
S3method(as.data.frame,CellNetNetwork)
S3method(print,CellNetResult)
S3method(summary,CellNetResult)
S3method(as.data.frame,CellNetResult)
S3method(plot,CellNetResult)
